<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hope Bot</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div id="layout">
            <header>Home of Hope Bot</header>
            <div id="entries">
                <ul>
                    <% entries.forEach(function(entry) { %>
                        <li><%= entry.entryText %> - <%= entry.timestamp %></li>
                    <% }); %>
                </ul>
            </div>
            <footer>Made by Ray Chun MIT</footer>
        </div>
    </body>
</html>
